
.navbar{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #D2A4A4;
    padding-left: 10px;
    margin: auto;
}
a{
    color: black;
}
a:hover{
    color: #fff;
}
a:active {
    color: white;
  } 
#logo{
    padding-left: 35px;
    width: auto;
    height: 60px;
    left: 54px;
    top: 10px;
}
.home{
    width: 831px;
    height: 651px;
    top: 229px;
    margin: auto;
    display: block;
    background: #FFE5E5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.mypic{
    display: block;
    width: 50%;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}
.card-body{
    /* font-style: italic; */
    text-align: center;
}
.header{
    margin-bottom: 50px;
    margin-top: 20px;
}
.idol{
    margin-top: 45px;
}
.pre{
    width: 831px;
    height: 859px;
    top: 229px;
    margin: auto;
    margin-bottom: 200px;
    display: block;
    background: #FFE5E5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}